.headerWrap .inner {
    background: #f00;
}

.headerWrap .container{
    display:none;
    color:#fff;
    padding:50px 0;
}

.headerWrap .container {
    width:1200px;
    margin:0 auto;
}

.topBannerToggle {
    position:relative;
    width: 1200px;
    margin:0 auto;   
}

.topBannerToggle .inner {
    position:absolute;
    right:0;
    top:0;
    
    width:120px;
    background: #f00;
    color:#fff;
    padding:10px;
    border-radius:0 0 5px 5px;
}

.topBannerToggle .inner::after {
    content:"OPEN";
}

.topBannerToggle .inner.active::after {
    content:"CLOSE";
}

.topBannerToggle .inner i {
    padding:3px;
    background:#333;
    border-radius:50%;
    transition:0.5s
}

.topBannerToggle .inner.active i {
    transform: rotate(180deg);
}

.tabMenu {
    padding:100px 0;
    background:#f2f2f2;
}
.tabMenu .container {
    width:600px;
    margin:0 auto;
}

.tabMenu .tabLink {
    display:flex;

}

.tabMenu .tabLink li {
    flex:1;
}

.tabMenu .tabLink li.active {
    color:#f00;
}

.tabMenu .tabContent>div {
    display:none;
}

.tabMenu .tabContent>div.active {
    display:block;
}

.bgFixed {
    padding: 200px 0;
    text-align: center;
    color:#fff;
    background: url(../img/main_slider_n05.jpg) no-repeat fixed center center/cover;
}

.bgFixed h2{
    font-size: 15px;
    font-weight: 100;
    letter-spacing: 3em;
    margin-bottom: 30px;
}

