/**/

.topBanner{
    padding: 24px 0;
    background: rgb(253, 253, 190);
    
}

.topBanner .container{
    position: relative;
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    text-align: center;
}

.topBanner h2{
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.040em;    
    margin-bottom: 20px;
    color:#f00;

}

.topBanner p{
    font-size: 16px;
    font-weight: 300;
    letter-spacing: -0.025em;    
    margin-bottom: 10px;

}

.topBanner a{
    margin-left: 20px;
    padding:0 20px 2px 20px;
    height: 16px;
    line-height: 12px;
    font-size: 16px;
    font-weight: 300;
    border:black solid 1px;
}

.topBanner .container i{
    position:absolute;
    top:0;
    right:15px;
    font-size: 24px;
    cursor: pointer;
}

/* topBanner : 22.03.17 수정 */
/* Header : 22.03.17 수정 */

.headerWrap{
    padding: 0;
}

.headerWrap .container{
    display: flex;
    width: 1200px;
    margin: 0 auto;
    line-height: 100px;
}


.headerWrap .container img {
    width: 250px;
}

.headerWrap .container h1{
    display: block;
    font-weight: bold;
    

}

.headerWrap .container>* {
    padding: 0 15px;
}

.headerWrap .serchForm{
    margin-left: auto;
}

.gnb {
    padding: 0;    
}

.gnb>ul{
    display: flex;
    
}

.gnb>ul>li{
    padding: 0 20px;
    position: relative;
}

/* li~li 사이에 아이템들만 포함 */
.gnb>ul>li~li::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: block;
    width: 1px;
    height: 13px;
    background: #333;
}

.headerWrap .searchForm input[type="search"]{
    padding: 10px;
    outline:none;
    border: none;
    border-bottom: 1px solid #333;
}
/*
.headerWrap .searchForm input[type='search']::placeholder{
    color: aquamarine;
}
.headerWrap .searchForm input[type='search']:focus::placeholder{
    color: transparent;
}
*/

.headerWrap .searchForm button{
    outline:none;
    border: none;
    background: transparent;
}
.headerWrap .searchForm button i{
    font-size: 15px;
    color: #fff;
    background: #333;
    padding: 10px;
    border-radius: 50%;
}

.mainVisual .visualSlide{
    border-top: 1px solid black;
}
.mainVisual .visualSlide figure{
    position: relative;
    height: 600px;
}
.mainVisual .visualSlide figure i{
    position: absolute;
    top: 100px;
    right: 200px;
    font-size: 100px;
    color: #f00;
    opacity: 0;
    transition: 0.5s;
}

.mainVisual .visualSlide figure.oo i {
    opacity: 1;
    animation: heart 1s infinite;
}


.mainVisual .visualSlide .msLeft {
    position: absolute;
    top: 50%;
    left: 200px;
    z-index: 999;

    border-top: 100px solid #fff;
    border-left: 100px solid transparent;

    transform: translateY(-50%) rotate(225deg);
}


.mainVisual .visualSlide .msRight {
    position: absolute;
    top: 50%;
    right: 100px;
    width: 100px;
    height: 100px;

    border-top: 100px solid #fff;
    border-left: 100px solid transparent;

    transform: translateY(-50%) rotate(45deg) ;
}


.mainVisual .visualSlide figure.slick-active{
    color: #b1fae2;
    transition: 1s;
}

.mainVisual .visualSlide figure .inner{
    width: 1200px;
    margin: 300px auto 0 auto;
    padding: 0 15px;
}

.mainVisual .visualSlide figure .inner h3{
    opacity: 0;
    transform: translateY(200px);
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 30px;
    text-shadow: 7px 7px 5px black; /* 우 하 블러 */
    transition: 1s;
}

.mainVisual .visualSlide figure.slick-active .inner h3{
    opacity: 1;
    transform: translateY(0);
}


.mainVisual .visualSlide figure .inner p {
    opacity:0;
    transform: translateY(100px);
    font-size:15px;
    font-weight: 300;
    transition: 1s;
}

.mainVisual .visualSlide figure.slick-active .inner p {
    opacity: 1;
    transform: translateY(0);
}


.mainVisual .visualSlide .itm01{
    background: url(../images/tiba/mainSlide01.png) no-repeat center center/cover;
}
.mainVisual .visualSlide .itm02{
    background: url(../images/tiba/mainSlide02.png) no-repeat center center/cover;
}
.mainVisual .visualSlide .itm03{
    background: url(../images/tiba/mainSlide03.png) no-repeat center center/cover;
}

.mainVisual .visualSlide .slick-dots {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    gap: 10px;
}

.mainVisual .visualSlide .slick-dots li{
    width: 100px;
    height: 7px;
    background: rgb(46, 46, 46);
    transition: 2s;
}

.mainVisual .visualSlide .slick-dots li.slick-active {
    background: rgb(207, 231, 253);
}

.mainVisual .visualSlide .slick-dots li::after{
    content:"";
    display: block;
    width: 0%;
    height: 100%;
    background: red;
    transition: 0.5s;
}
.mainVisual .visualSlide .slick-dots li.slick-active::after{
    width: 100%;
    transition: 3s;
}
.mainVisual .visualSlide .slick-dots button {
    display: none;
}





.mainProduct {
    padding: 50px 0;
    text-align: center;
    margin-bottom: 50px;
}

.mainProduct h2 {
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 0.20em;
    margin-bottom: 10px;
    margin-top: 30px;
}

.mainProduct p {
    font-size: 40px;
    font-weight: 500;
    color:#f00;
    letter-spacing: -0.025em;
    margin-bottom: 60px;
}

.mainProduct span {
    color:rgb(219, 219, 0);
}

.mainProduct .container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.mainProduct .container p {
    font-size: 15px;
    font-weight: 300;
    letter-spacing: -0.025em;
    margin-bottom: 30px;
}


.mainProduct .container figure {
    position: relative;
    flex: 1;
    padding: 0 15px;
}

.mainProduct .container figure .inner {
    margin-bottom: 15px;
}

.mainProduct .container figure strong {
    display: block;
    margin-bottom: 10px;
    font-size: 26px;
}


.mainProduct .container figure a {
    display: inline-block;
    padding: 10px 30px;
    background: #333;
    color: #fff;
}

.mainProduct .container figure a:hover {
    background: #ddd;
    color: #333;
}

.mainProduct .inner {
    overflow:hidden;
}

.mainProduct .inner img {
    transition: 0.5s;
}
.mainProduct .inner:hover img {
    transform: scale(1.5);
}

.mainProduct .container figure .label {
    position: absolute;
    top: -10px;
    right: 0;

    border-top:10px solid #f00;
    border-left:50px solid #f00;
    border-bottom:10px solid #f00;
    border-right:10px solid transparent;
}

.mainProduct .container figure .label span {
    position: absolute;
    top: -6px;
    left: -45px;
    color: #fff;

    font-size: 14px;
}

.eventBanner {
    padding: 100px 0;
    background:url(../images/tiba/background.png) no-repeat fixed center center/cover;
    text-align: center;
    color: #fff;
}

.eventBanner h2 {
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 0.20em;
    margin-bottom: 10px;
}

.eventBanner p {
    font-size: 24px;
    font-weight: 300;
    letter-spacing: -0.025em;
    margin-bottom: 30px;
}

.eventBanner i {
    padding: 7px;
    background: #333;
    border-radius: 50%;
    margin-left: 15px;
}

.evenetProduct {
    padding: 100px 0;
}

.evenetProduct .container {
    display: flex;
    width:1200px;
    margin: 0 auto;
}
.evenetProduct .container>div {
    padding: 0 15px;
    text-align: center;
}

.evenetProduct .left {
    width: 40%;
}
.evenetProduct .eProductSlide {
    padding: 5px;
    border: 5px solid #ddd;
}

.evenetProduct .right {
    display: flex;
    align-items: center;
    margin-left: 100px;
    width:60%;
}


.evenetProduct h3 {
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 0.20em;
    margin-bottom: 10px;
}

.evenetProduct p {
    font-size: 26px;
    font-weight: 300;
    letter-spacing: -0.025em;
    margin-bottom: 30px;
}

.evenetProduct i {
    padding: 13px;
    background: #333;
    color: #fff;
    border-radius: 7px;
    margin:0 5px;
}


/*
.mainVisual .visualSlide figure:nth-child(1){
    background: rosybrown  ;
}
.mainVisual .visualSlide figure:nth-child(2){
    background: rgb(118, 199, 202)  ;
}
.mainVisual .visualSlide figure:nth-child(3){
    background: rgb(188, 143, 182)  ;
}
*/

.allProduct{
    position: relative;
    padding: 100px 0;
    text-align: center;
    background: #f2f2f2;
}

.allProduct .container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.allProduct h2 {
    font-size: 26px;
    font-weight: 300;
    letter-spacing: 0.20em;
    margin-bottom: 10px;
}

.allProduct p {
    font-size: 18px;
    font-weight: 100;
    letter-spacing: -0.025em;
    margin-bottom: 50px;
}

.allProduct .aproductSlide figure{
    padding: 0 15px;
}

.allProduct figure img {
    transform:scale(0.7);
    transition:0.5s;

}

.allProduct figure.slick-center img{
    transform: rotate3d(0, 0, 0, 90deg);
    transition:0.3s 0.2s;
}


.allProduct .inner{
    margin-bottom: 20px;
}

.allProduct .inner+strong{
    display:block;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 300;
}

.allProduct .slick-dots{
    display: flex;
    gap: 10px;
    justify-content: center;
}

.allProduct .slick-dots li{
    width: 13px;
    height: 13px;
    background: #333;
    border-radius: 50%;
    
}

.allProduct .slick-dots li.slick-active {
    background: rgb(190, 188, 188);
}

.allProduct .slick-dots li button{
    display: none;
}

.allProduct i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    padding: 10px;
    font-size: 30px;
    color: #ddd;
    background: #333;
}

.allProduct i:nth-child(1){
    margin-left: 700px;
}
.allProduct i:nth-child(2){
    margin-left: -700px;
}

.movieBg{
    height: 600px;
    padding: 100px 0;
    background: #333;
    filter: grayscale(1); /*백그라운드 갈색??*/

    color: #fff;
    text-align: center;
}

.movieBg .container {
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.movieBg h3 {
    font-size: 24px;
    font-weight: 100;
    letter-spacing: 0.20em;
    margin-bottom: 10px;
}

.movieBg p {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: -0.025em;
    margin-bottom: 30px;
}
.movieBg i {
    font-size: 20px;
    padding: 18px;
    background: #333;
    border-radius: 50%;
}
.customerArea{
    padding: 100px 0;
}

.customerArea .container{
    display: flex;
    width: 1200px;
    margin: 0 auto;
    background: #f3f3f3;
}
.customerArea .container>div{
    position: relative;
    flex: 1;
    padding: 0 15px;
}

.customerArea .container>div img{
    filter: grayscale(0);
}

.customerArea .container>div .button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #b1fae2;
    border: 2px solid #6fa191;
    padding: 15px 30px;
    border-radius: 10px;    
    transition: 0.5s;
}
.customerArea .container>div:hover .button{
    background: #42806b;
    color: rgb(255, 255, 255);
    border: 2px solid #6fa191;
    border-radius: 20px;
    transition: 0.5s;
    
}
.customerArea .container>div:hover img{
    filter: grayscale(1);
}

.customerArea .container>div i{
    position: absolute;
    top: 10px;
    right: 100px;
    font-size: 50px;
    color: #f00;
    opacity: 0.1;
    transition: 0.5s;
}

.customerArea .container>div:hover i{
    opacity: 1;
    animation: heart 0.11s infinite;
}


.customerArea .tabMenu{
    display: flex;
    background: #333;
    color: #fff;
}
.customerArea .tabMenu>li{
    flex: 1;
    padding: 10px;

}
.customerArea .tabMenu>li.oo{
    background: rgb(160, 166, 253);
}
.customerArea .tabMenu>li~li{
    border-left: 1px solid #fff;
}

.customerArea .tabContent>div{
    display: none;
}
.customerArea .tabContent>div.oo{
    display: block;
}
.customerArea .tabContent a{
    display: flex;
    justify-content: space-between;
    padding: 8px 3px;
    border-bottom: 2px dotted rgb(153, 222, 240);
}

.customerArea .tabContent strong{
    display: block;
    width: 400px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


.footerWrap {
    background:#333;
    color:#f2f2f2;
    line-height: 60px;
}

.footerWrap .top {
    border-bottom: 1px solid #666;
}

.footerWrap .container {
    display:flex;
    justify-content: space-between;
    width:1200px;
    margin:0 auto;
}

.footerWrap .container>dl {

    display: flex;
    padding:0 15px;
    gap:40px;
}

.footerWrap .container dd {
    position: relative;
}

.footerWrap .container dd:before {
    content:"";

    position:absolute;
    top:50%;
    left:-20px;
    display:block;
    width:1px;
    height:13px;
    background:#f2f2f2;

    transform: translateY(-50%);
}

.footerWrap .container>div {
    padding:0 15px;
    font-size: 20px;
}

.footerWrap .bottom {
    padding-bottom: 30px;
}

.footerWrap .container>* {
    padding:0 15px;
}

.footerWrap .link select {
    background:#333;
    font-size: 14px;
    padding:4px 10px;
    outline: none;
    border:none;
    border:2px solid #f2f2f2;
}


.popup01 {
    position: absolute;
    inset: 50% auto auto 50%;
    transform: translate(-50%,-50%);
    border:1px solid #ddd;
    padding:30px;
    background:rgba(0,0,0,0.9);
}

.popup01 img {
    width:400px;
}

.popup01 button {
    position:absolute;
    inset: auto 20px 20px auto;
    width:100px;
    height:30px;
    outline: none;
    border:1px solid #333;
    background: #f00;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
}
